.infoCard {
  width: 100%;
}
.divCardName {
  height: 60px;
}
.majorDiv {
  height: 30px;
}
.divCol {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
}
.majorStyle {
  color: gray;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.developerImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
/* for mobile */
@media only screen and (max-width: 1024px) {
  .infoCard {
    width: 100%;
    margin-top: 15px;
  }
  .divCardName {
    height: 30px;
  }
  .majorDiv {
    height: 30px;
  }
  .divCol {
    width: 100%;
    text-align: center;
  }
}
